@charset "utf-8";
/* CSS Document */
h1 
{
    color: #0e0906;
    text-align: center;
}
body {
    background-color: #d7664e;
    font-family: Calibri, sans-serif;
    color: #fcfcfc;
}
tbody
{
background-color:#f7cb58;
}

img
{
width:300px; /*ancho*/
height:auto; /*alto auto, % o px*/
border-radius:10%; /*herramienta para redondear los bordesde una caja*/
box-shadow:5px 5px 15px #ccc; /*efecto de sombrea alredor del marco*/
/*horizontal (izq der) vertical (arriba abajo) nivel de difuminacion de sombra (0=difuminado visible) y color*/
}
